
@font-face {
    font-family: ;
    src: url();
}

@import url(https://fonts.bunny.net/css?family=arsenal:400,400i,700,700i|oswald:200,400,700);




#bandeau {
    background-color: rgba(145, 136, 136, 0.322);
    margin: 1.5em;
    padding: 1em;
    border-radius: 5%;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    float: right;

}

.contact:hover {
    font-size: 1.5em;
}

.dev__h2 {
    font-size: 1.1em;
    font-weight: bold;
}

.main {
    display: flex;  
    justify-content: space-around;  
}

main {
    min-height: 500px;
    width: 90%;
    background-color: rgba(236, 197, 148, 0.438);
    margin: 0 auto;
    box-shadow: 0 0 0 black;
    margin-top: 80px;    
}

.photo {
    float: left;
    width: 10em;
    height: 10em;
    margin-right: 40px;
}
.infos {
    font-size: 0.8em;
}

.competences {
    float: left;
    border: 1px solid green;
    margin-top: 40px;
    width: 33%;
    list-style: none;
    height:80vh ;
    
}

.competences__h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(33, 168, 33);
    }

.competences__list {
    font-size: 1em;
    padding-top: 100px;    
    margin-left: 10px;
    list-style: none;
    line-height: 25px;    
}

.experiences {
    
    float: right;
    border: 2px solid skyblue;
    width: 60%;
    height: 90vh;
    margin: 10px;
    
}

.experience__h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(68, 186, 233);
}

.experience__list {
    padding-top: 20px;    
    margin-left: 10px;
    list-style: none;
    line-height: 15px;    
}

@media (max-width : 600px) {
    .dev {
        font-size: 1em;
    font-weight: normal;
    }
    .dev__h2 {
        font-size: 0.8em;
    }
    .infos {
        font-size: 0.4em;
    }
    .photo {
        width: 5em;
        height: 5em;
        margin-right: 15px;
    }
}

@media (min-width: 950px)
{
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 1300px)
{
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}



