@font-face {
    font-family: 'MaPolice';
    src: url('../asset/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header {
    background-color: rgba(117, 114, 114, 0.322);
    box-shadow: 0 0 15px black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

body {
    font-family: 'MaPolice';
    background-color: rgba(116, 119, 117, 0.425);    
    margin: 20px;
}

h1 {
    font-size: 1.9em;
    font-weight: bold;
    display: flex;
    float: right;
    padding-right: 30px;

}

.header {
    position: relative;
}

.contact {
    display: inline-block;
    font-style: italic;
}

.contact:hover {
    font-size: 1.3em;
    transition: 0.8s;
}

.dev__h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.main {    
    justify-content: space-around;
}

main {
    display: flex;    
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    min-height: 500px;
    background-color: rgba(117, 114, 114, 0.322);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 15px black;
    margin-top: 80px;
    border-radius: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
}

footer {
    margin-top: -10px;
    width: 100%;
    visibility: hidden
    ;
}

.main__left {
    width: 40%;
}

.main__right {
    width: 60%;
}

.footer {
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(216, 162, 92);
}

.photo {
    position: relative;
    float: left;
    width: 10em;
    height: 10em;
    margin-right: 15px;
    border-radius: 50%;
    z-index: 1;
}

.infos {    
    font-size: 0.9em;
}

.coordonnees {
    background-color: rgb(204, 204, 200);
    border: 2px solid rgb(3, 96, 172);
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    list-style: none;
    height: 25vh;
    border-radius: 10px;
       
}

.coordonnees__h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(3, 96, 172);
}

.coordonnees__list {
    font-size: .9em;
    padding-top: 5px;
    margin-left: 10px;
    list-style: none;
    line-height: 18px;
}

.competences {
    background-color: rgb(204, 204, 200);
    border: 2px solid rgb(3, 96, 172);
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    width: 70%;
    list-style: none;
    box-sizing: border-box;
    border-radius: 10px;
       
}

.competences__h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(3, 96, 172);;
}

.competences__list {
    font-size: .9em;
    padding-top: 5px;
    margin-left: 10px;
    list-style: none;
    line-height: 18px;
}

.experiences {
    background-color: rgb(204, 204, 200);
    border: 2px solid rgb(3, 96, 172);;    
    height: 85vh;
    margin: 10px;
    border-radius: 10px;
    clear: left;

}

.experience__h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(3, 96, 172);;
}

.experience__list {
    padding-top: 20px;
    margin-left: 10px;
    list-style: none;
    line-height: 15px;
}

.experience__list__date {
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
}

.experience__list__title {
    font-size: 1.2em;
    line-height: 20px;
    font-weight: bold;
}

.experience__list__city {
    font-style: italic;
    font-size: 0.2em;
}

.experience__list__post {
    font-size: 1em;
    line-height: 20px;    
}

.experience__list__description {
    font-size: 0.8em;
}

.footer {
    width: 90%;
    height: 50px;
    background-color: rgba(145, 136, 136, 0.322);
    margin: 1.5em;
    padding: 1em;
}

.dark-mode {
    background-color: #222;
    color: #fff;
    z-index: 0;
    
}

.dark-mode-div {
    background-color: rgba(117, 114, 114, 0.322);;
    color: #fff;
    z-index: 0;
  }


button {    
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: black;
    padding: 0.5rem;    
}

.button:hover {
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

.button-delay {
    opacity: 0.5;
    pointer-events: none;
}


@media (max-width : 600px) {
    .dev {
        font-size: 1em;
        font-weight: normal;
    }

    .dev__h2 {
        font-size: 0.8em;
    }

    .infos {
        font-size: 0.4em;
    }

    .photo {
        width: 5em;
        height: 5em;
        margin-right: 15px;
    }

    .competences__h2, .coordonnees__h2 {
        font-size: 0.5em;
    }

    .competences__list, .coordonnees__list {
        font-size: 0.6em;
        line-height: 10px;
    }

    .experiences {
        width: 80%;
    }

    .experience__h2 {
        font-size: 0.6em;
    }

    .experience__list {
        font-size: 0.5em;
        line-height: 1px;
    }

    .experience__list__title {
        font-size: 0.8em;
    }    

    button {
        width: 2px;
        height: 2px;
    }

}

@media (min-width: 950px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1300px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}
